.card {
    box-sizing: border-box;
    width: 250px;
    height: 185px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: block;
    user-select: none;
    font-weight: bolder;
    color: black;
    margin: 10px;
  }
  
  .card:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  .card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }
  .home{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
  }
  #bigimg{
    height: 500px;
    width: 100%;
  }